In [4]:
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
from api import api_key

In [15]:
#Real Time Data
ts = TimeSeries(key=api_key, output_format='pandas')
data, meta_data =ts.get_intraday(symbol=tickers, interval='60min', outputsize='2yr')

In [17]:
data

                      1. open   2. high    3. low  4. close   5. volume
date
2018-10-04 14:30:00  227.4900  228.5000  227.3800  227.8530   3090929.0
2018-10-04 15:30:00  227.8300  228.6200  227.4000  227.8700   2853870.0
2018-10-05 09:30:00  227.9600  228.1325  225.5773  226.4000   6235533.0
2018-10-05 10:30:00  226.4200  226.7400  223.8800  224.4731   4534853.0
2018-10-05 11:30:00  224.4456  224.8900  223.5500  224.3500   3483228.0
2018-10-05 12:30:00  224.3450  224.3450  220.5800  221.5200   5774042.0
2018-10-05 13:30:00  221.5500  224.3200  221.4550  224.2400   4319420.0
2018-10-05 14:30:00  224.2800  225.3400  223.8800  224.6400   3778393.0
2018-10-05 15:30:00  224.6425  225.0000  223.8300  224.1400   3256588.0
2018-10-08 09:30:00  222.0000  224.2900  221.0300  223.8500   7436704.0
2018-10-08 10:30:00  223.8400  223.8635  222.2400  222.4900   3030900.0
2018-10-08 11:30:00  222.4500  222.7000  220.2100  222.1000   4453929.0
2018-10-08 12:30:00  222.1000  222.3600  220.9000  221.8700   2791034.0
2018-10-08 13:30:00  221.8300  223.7500  221.8000  222.5400   2799259.0
2018-10-08 14:30:00  222.5700  224.1900  222.5700  223.7600   2750444.0
2018-10-08 15:30:00  224.0000  224.7900  223.7700  223.7700   2878429.0
2018-10-09 09:30:00  223.6700  226.3200  222.2462  226.2345   7942076.0
2018-10-09 10:30:00  226.3100  227.0500  225.1200  226.4800   5015715.0
2018-10-09 11:30:00  226.5300  226.8600  225.6031  225.6900   2493261.0
2018-10-09 12:30:00  225.7000  226.2000  224.8400  225.9100   2109490.0
2018-10-09 13:30:00  225.8850  226.2600  224.7900  225.8800   1847540.0
2018-10-09 14:30:00  225.9500  226.9251  225.3900  226.5800   2335445.0
2018-10-09 15:30:00  226.5800  227.2563  226.5000  226.8700   2867229.0
2018-10-10 09:30:00  225.5100  226.3150  222.5900  223.4100   7562712.0
2018-10-10 10:30:00  223.4500  224.3800  222.1700  223.3000   4998248.0
2018-10-10 11:30:00  223.3500  224.4000  222.7900  223.3600   2993757.0
2018-10-10 12:30:00  223.3090  223.8100  222.1800  223.3100   2684086.0
2018-10-10 13:30:00  223.2300  223.3300  221.5000  221.7454   3197008.0
2018-10-10 14:30:00  221.7200  221.9700  219.5300  220.8200   6329543.0
2018-10-10 15:30:00  220.8400  220.8767  216.0500  216.4100   8547204.0
...                       ...       ...       ...       ...         ...
2018-10-18 14:30:00  216.3800  217.1400  215.5500  216.1600   3022540.0
2018-10-18 15:30:00  216.1300  216.4600  215.3100  216.2000   3339941.0
2018-10-19 09:30:00  218.1135  220.8300  217.6500  220.3800   9331412.0
2018-10-19 10:30:00  220.3300  221.2500  219.8900  219.9100   4054637.0
2018-10-19 11:30:00  219.8700  220.1200  217.6600  218.1600   4167626.0
2018-10-19 12:30:00  218.1100  219.9199  217.4400  219.7900   3294821.0
2018-10-19 13:30:00  219.6700  220.1339  217.8600  218.5654   2814839.0
2018-10-19 14:30:00  218.6100  219.9200  218.4406  219.8200   2929011.0
2018-10-19 15:30:00  219.8312  220.2000  219.1900  219.2300   3521752.0
2018-10-22 09:30:00  219.3000  221.2200  219.3000  220.2500   6719225.0
2018-10-22 10:30:00  220.2100  223.3500  220.0400  222.7000   5379955.0
2018-10-22 11:30:00  222.6700  222.8800  220.8000  221.3600   3279035.0
2018-10-22 12:30:00  221.3730  222.1900  220.9200  221.1050   2614842.0
2018-10-22 13:30:00  221.0600  221.7500  220.3500  220.3900   2382021.0
2018-10-22 14:30:00  220.4000  222.0700  220.2800  221.6050   2693751.0
2018-10-22 15:30:00  221.6300  222.2770  220.6000  220.6000   2626727.0
2018-10-23 09:30:00  215.6200  218.0500  214.7000  216.0900  11440043.0
2018-10-23 10:30:00  216.0600  217.6800  215.4500  217.4000   4836384.0
2018-10-23 11:30:00  217.4100  218.8500  216.8500  218.6400   3787289.0
2018-10-23 12:30:00  218.6700  219.8200  218.2500  219.2000   3368937.0
2018-10-23 13:30:00  219.1000  220.5700  218.5000  220.3000   3413091.0
2018-10-23 14:30:00  220.3200  223.2175  220.3100  222.6100   5660431.0
2018-10-23 15:30:00  222.5896  223.2500  222.4200  222.7650   4240362.0
2018-10-24 09:30:00  222.6100  224.2300  220.7200  221.1700   9084469.0
2018-10-24 10:30:00  221.0800  221.5700  218.9700  219.2590   4566325.0
2018-10-24 11:30:00  219.2600  221.6600  218.9800  221.1800   4057631.0
2018-10-24 12:30:00  221.1600  221.4200  219.1438  219.2900   3225629.0
2018-10-24 13:30:00  219.2850  220.6700  218.6000  220.4400   4340953.0
2018-10-24 14:30:00  220.5000  220.8600  217.6780  217.7300   4497441.0
2018-10-24 15:30:00  217.7684  218.2300  214.5700  215.3100   6659018.0

[100 rows x 5 columns]

In [6]:
#Daily Data
tickers = ['AAPL']

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2015-01-01'
end_date = '2018-10-24'

dict = {}
# User pandas_reader.data.DataReader to load the desired data. As simple as that.

for ticker in tickers:
    panel_data = data.DataReader(ticker, 'iex', start_date, end_date)
    panel_data["Ticker"] = ticker
    panel_data["Moving Average"] = panel_data["close"].rolling(window=5).mean()

In [19]:
panel_data

,open,high,low,close,volume,Ticker,Moving Average
date,,,,,,,
2015-01-02,104.2471,104.2939,100.4662,102.3192,53204626,AAPL,NaN
2015-01-05,101.3459,101.6828,98.6506,99.4367,64285491,AAPL,NaN
2015-01-06,99.7082,100.5411,97.9206,99.4461,65797116,AAPL,NaN
2015-01-07,100.3258,101.2617,99.8532,100.8406,40105934,AAPL,NaN
2015-01-08,102.2257,104.9584,101.7296,104.7151,59364547,AAPL,101.35154
2015-01-09,105.4451,105.9879,103.1428,104.8274,53699527,AAPL,101.85318
2015-01-12,105.3796,105.4076,101.8232,102.2444,49650790,AAPL,102.41472
2015-01-13,104.2846,105.5667,101.9262,103.1522,67091928,AAPL,103.15594
2015-01-14,102.0478,103.4049,101.5425,102.7591,48956588,AAPL,103.53964
2015-01-15,102.9463,103.0024,99.8205,99.9702,60013996,AAPL,102.59066
2015-01-16,100.1667,100.6815,98.4541,99.1934,78513345,AAPL,101.46386
2015-01-20,100.9248,101.9792,99.6707,101.7484,49899907,AAPL,101.36466
2015-01-21,101.9636,103.9383,101.3272,102.5251,48575897,AAPL,101.23924
2015-01-22,103.1896,105.2579,102.6842,105.1924,53796409,AAPL,101.72590
2015-01-23,105.0988,106.4558,104.3782,105.7352,46464828,AAPL,102.87890
2015-01-26,106.4465,107.0291,105.5667,105.8475,55614979,AAPL,104.20972
2015-01-27,105.2111,105.2672,102.0385,102.1414,95568749,AAPL,104.28832
2015-01-28,110.0823,110.5456,107.9158,107.9158,146477063,AAPL,105.36646
2015-01-29,108.8610,111.5470,108.1497,111.2756,84436432,AAPL,106.58310
2015-01-30,110.8076,112.3050,109.3570,109.6471,83745461,AAPL,107.36548
2015-02-02,110.4801,111.5283,108.6364,111.0229,62739100,AAPL,108.40056
2015-02-03,110.9012,111.4534,110.0683,111.0416,51915749,AAPL,110.18060
2015-02-04,110.9012,112.7823,110.7225,111.8932,70149743,AAPL,110.97608
2015-02-05,112.7670,112.9643,112.0436,112.6919,42246245,AAPL,111.25934
2015-02-06,112.7670,112.9831,111.2919,111.7429,43706567,AAPL,111.67850
2015-02-09,111.3859,112.5979,111.2731,112.4852,38889797,AAPL,111.97096
2015-02-10,112.9080,114.7683,112.8986,114.6462,62008506,AAPL,112.69188
2015-02-11,115.3509,117.3709,115.0972,117.3333,73561797,AAPL,113.77990
2015-02-12,118.4420,119.7762,117.9816,118.8179,74474466,AAPL,115.00510
2015-02-13,119.5883,119.5883,118.0568,119.4004,54272219,AAPL,116.53660
...,...,...,...,...,...,...,...
2018-09-12,224.9400,225.0000,219.8400,221.0700,49278740,AAPL,221.53000
2018-09-13,223.5200,228.3500,222.5700,226.4100,41706377,AAPL,222.19200
2018-09-14,225.7500,226.8400,222.5220,223.8400,31999289,AAPL,222.70000
2018-09-17,222.1500,222.9500,217.2700,217.8800,37195133,AAPL,222.61000
2018-09-18,217.7900,221.8500,217.1200,218.2400,31571712,AAPL,221.48800
2018-09-19,218.5000,219.6200,215.3000,218.3700,27123833,AAPL,220.94800
2018-09-20,220.2400,222.2800,219.1500,220.0300,26608794,AAPL,219.67200
2018-09-21,220.7800,221.3600,217.2900,217.6600,96246748,AAPL,218.43600
2018-09-24,216.8200,221.2600,216.6300,220.7900,27693358,AAPL,219.01800
2018-09-25,219.7500,222.8200,219.7000,222.1900,24554379,AAPL,219.80800
2018-09-26,221.0000,223.7500,219.7600,220.4200,23984706,AAPL,220.21800
2018-09-27,223.8200,226.4400,223.5400,224.9500,30181227,AAPL,221.20200
2018-09-28,224.7900,225.8400,224.0200,225.7400,22929364,AAPL,222.81800
2018-10-01,227.9500,229.4200,226.3500,227.2600,23600802,AAPL,224.11200
2018-10-02,227.2500,230.0000,226.6300,229.2800,24788170,AAPL,225.53000
2018-10-03,230.0500,233.4700,229.7800,232.0700,28654799,AAPL,227.86000
2018-10-04,230.7800,232.3500,226.7300,227.9900,32042000,AAPL,228.46800
2018-10-05,227.9600,228.4100,220.5800,224.2900,33580463,AAPL,228.17800
2018-10-08,222.2100,224.8000,220.2000,223.7700,29663923,AAPL,227.48000
2018-10-09,223.6400,227.2700,222.2462,226.8700,26891029,AAPL,226.99800
2018-10-10,225.4600,226.3500,216.0500,216.3600,41990554,AAPL,223.85600
2018-10-11,214.5200,219.5000,212.3200,214.4500,53124392,AAPL,221.14800
2018-10-12,220.4200,222.8800,216.8400,222.1100,40337851,AAPL,220.71200
2018-10-15,221.1600,221.8300,217.2700,217.3600,30791007,AAPL,219.43000
2018-10-16,218.9300,222.9900,216.7627,222.1500,29183963,AAPL,218.48600
2018-10-17,222.3000,222.6400,219.3400,221.1900,22885397,AAPL,219.45200
2018-10-18,217.8600,219.7400,213.0000,216.0200,32581315,AAPL,219.76600
2018-10-19,218.0600,221.2600,217.4300,219.3100,33078726,AAPL,219.20600
2018-10-22,219.7900,223.3600,218.9400,220.6500,28792082,AAPL,219.86400
2018-10-23,215.8300,223.2500,214.7000,222.7300,38767846,AAPL,219.98000