In [20]:
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data
import pandas as pd
from datetime import datetime, timedelta
%matplotlib inline

In [7]:
#Find today's date
today = datetime.today().strftime('%Y-%m-%d')
print(today)

2018-10-25

In [16]:
#Find three years from today
three_year = (datetime.now() - timedelta(days=3*365)).strftime('%Y-%m-%d')
print(three_year)

2015-10-26

In [17]:
#Daily Data
tickers = ['AAPL']

dict = {}
# User pandas_reader.data.DataReader to load the desired data. As simple as that.

for ticker in tickers:
    panel_data = data.DataReader(ticker, 'iex', three_year, today)
    panel_data["Ticker"] = ticker
    panel_data["Moving Average"] = panel_data["close"].rolling(window=5).mean()

In [19]:
panel_data.head()

,open,high,low,close,volume,Ticker,Moving Average
date,,,,,,,
2015-10-26,111.9120,111.9594,108.9171,109.2583,66333781,AAPL,NaN
2015-10-27,109.3720,110.4524,108.0356,108.5664,69884400,AAPL,NaN
2015-10-28,110.8221,113.0683,109.9975,113.0398,85551352,AAPL,NaN
2015-10-29,112.4996,114.3857,112.0921,114.2340,51227334,AAPL,NaN
2015-10-30,114.6700,114.8880,113.2104,113.2578,49365254,AAPL,111.67126